apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  annotations:
    argocd-image-updater.argoproj.io/django.image: galdoongd/django_app
    argocd-image-updater.argoproj.io/django.update-strategy: latest
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
      annotations:
        argocd-image-updater.argoproj.io/django.image: galdoongd/django_app
        argocd-image-updater.argoproj.io/django.update-strategy: latest
    spec:
      containers:
        - name: django
          image: galdoongd/django_app:b3769dc
          ports:
            - containerPort: 8000

